body {
    margin: 0px;
    padding: 0px;
  
}
  
header {
  background-color: green;
  color: white;
  position: sticky;
  text-align: left;
  font-size: 18px;
  letter-spacing: 3px;
  padding-left: 10px;
  
  
}
