body {
    margin: 0px;
    padding: 0px;
    background: rgb(92, 90, 90);
}
  
header {
  background-color: darkgreen;
  color: white;
  
  position: sticky;
  text-align: left;
  padding-top: 10%;
  font-size: 18px;
  letter-spacing: 3px;
  padding-left: 10px;
  height: 100px;
  width: 100%;
  
}

/* /* END OF HEADER  */

.search-container {
  display: flex;
  grid-template-columns: repeat(12, 1fr);
  background-color: seagreen;
  text-align: center;               
  height: 150px;
  width: 100%;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  

 

}

.search-container #searchBar {
  grid-column: 3 / span 5;
  text-align: left; /* texten dycker upp i vänstra delen av search widnwon */
  position:sticky;
  height: 25px;
 
  
 
  
  


 


}

.search-container #searchButton {
  height: 25px;
  grid-column: 5 / span 7;



}

.sortofcheckBox {
  grid-column: 9 / span 12;
  color: red;
  

}


/* ----- SEARCH UP */









/* FOOTER UNDER */

